node_modules

# Backend specific
/backend/node_modules
/backend/logs
/backend/logs/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env
backend/.env

# Log files
backend/logs/error.log
backend/logs/*.log